@import url('https://fonts.googleapis.com/css?family=Cairo');

body {
  background-color: rgb(63, 94, 251);
  background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(187, 58, 84, 1) 100%);
}

.FFtitle h1 {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 120px;
  margin: 10px 0;

}

.FFtitle {
  font-family: "Cairo";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 1px;
  line-height: 2;
}

.App {
  width: 95vw;
  overflow: auto;
  margin: 10px;
}

.movie-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.single-movie {
  width: 300px;
  height: 750px;
  padding: 3px;
  margin: 10px;
  border: 1px solid;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.single-movie img {
  width: 285px;
}

.SearchHeader {
  display: flex;
  justify-content: space-around;
}

.movietag {
  display: flex;
  flex-wrap: wrap;
}