.App{
  max-width: 1200px;
  margin: auto;
}
.movie-list{
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
}
.single-movie{
  width: 300px;
  padding: 3px;
}
.single-movie img{
  width: 50%;
}

.SearchHeader{
  display: flex;
  justify-content: space-around;
}